.text-xs {
  font-size: 12px;
}

.text-xxs {
  font-size: 10px;
}

.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 18px;
}

.text-lg {
  font-size: 22px;
}

.text-xl {
  font-size: 26px !important;
}

.line-height-sm {
  line-height: 1;
}
